SUPABASE_URL=https://ukjcjzijhakkxnerbvid.supabase.co
SUPABASE_PUBLISHABLE_KEY=cole_a_chave_publishable_ou_anon_public_aqui
SUPABASE_ANON_KEY=cole_a_chave_publishable_ou_anon_public_aqui
SUPABASE_PROJECT_REF=ukjcjzijhakkxnerbvid
